.main-first__blocks.main-blocks__common
    .main-first__block
        // Main first block left
        include mainfirstblockleft
    .main-first__block
        // Main first block right
        include mainfirstblockright