.main-second_blocks_tablet_tabs
    // Main second tab tablet
    include mainsecondtablet
    // Main second tab tablet left
    include mainsecondtabletleft
    // Main second tab tablet right
    include mainsecondtabletright