#Left.main-second__tabcontent
    .main-second__block
        .main-second_block_top
            .main-second_common_row.main-second_left_row_first
                p Валюта
                p.main-second_column_second Период
                p Покупка
                p Продажа
                p ЦБ
            .main-second__borderline
            ul.main-second_common_row.main-second_left_row_second
                li.main-left_column_first USD
                li.main-left_column_second.main-left_graph_first.main-second_column_second Период
                li.main-second__numbers.main-left_arrow_down.main-second_column_third 64,56
                li.main-second__numbers.main-left_arrow_up 65,12
                li.main-second__numbers.main-left_arrow_up 64,5645
            ul.main-second_common_row.main-second_left_row_third
                li.main-left_column_first EUR
                li.main-left_column_second.main-left_graph_second.main-second_column_second Период
                li.main-second__numbers.main-left_arrow_down.main-second_column_third 72,20
                li.main-second__numbers.main-left_arrow_down 72,69
                li.main-second__numbers.main-left_arrow_down 72,3422
            ul.main-second_common_row.main-second_left_row_third
                li.main-left_column_first GBP
                li.main-left_column_second.main-left_graph_third.main-second_column_second Период
                li.main-second__numbers.main-left_arrow_up.main-second_column_third 84,40
                li.main-second__numbers.main-left_arrow_up 85,02
                li.main-second__numbers.main-left_arrow_up 85,4443
            ul.main-second_common_row.main-second_left_row_third
                li.main-left_column_first CHF
                li.main-left_column_second.main-left_graph_fourth.main-second_column_second Период
                li.main-second__numbers.main-left_arrow_down.main-second_column_third 59,33
                li.main-second__numbers.main-left_arrow_down 60,56
                li.main-second__numbers.main-left_arrow_up 59,6664
        .main-block__bottom
            a.main-left__block(href='#') Курсы валют в отделениях Банка
            a.main-right__block(href='#')
            a.main-right_block_mobile(href='#')