.main-second__tab.main-second_tabs_block
    .main-second_tabs_button
        button#defaultOpen.main-second__tablinks(onclick="showBlock(event, 'Left')")
            .main-second__title.main-second_icon-left
                | Валюта
                p 18.07.2019
    .main-second_tabs_button
        button.main-second__tablinks(onclick="showBlock(event, 'Right')")
            .main-second__title.main-second_icon-right Монеты