.main-sixth_blocks_mobile.main-blocks_common_tablet
    .main-sixth_common_block_tablet.main-sixth_title_mobile
        h1 Новости
        .main-sixth_block_mobile
            a.main-sixth_block_mobile_left(href='#') Архив новостей
            a.main-sixth_block_mobile_right(href='#')
    .main-sixth_common_block_tablet.main-sixth_block_tablet
        .main-sixth_block_tablet
            p 26 июня 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект
        .main-sixth_block_tablet
            p 25 июня 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект
        .main-sixth_block_tablet
            p 26 апреля 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект