.main-fifth__block.main-fifth_block_common.main-fifth_block_top_left
    .main-fifth_inner_block.main-fifth_inner_block_top_left
        h1.main-fifth_title_original
            | До 0,5% годовых 
            br
            | при дистанционном 
            br
            | оформлении
        h1.main-fifth_title_new
            | АО АКБ ЦентроКредит 
            br
            | вступил в платежную 
            br
            | систему МИР
        h2
            | Начался приём карт мир 
            br
            | по выдаче наличных в сети 
            br
            | банкнотов и дополнительных 
            br
            | офисов.
    .main-fifth_inner_block_bottom_left
        .main-fifth_block_left_image
            img(src='assets/img/pictures/girl.svg', alt='Girl')
    // Main fifth inner block bottom left tablet
    .main-fifth_inner_block_bottom_left_tablet
        .main-fifth_block_left_image
            img(src='assets/img/pictures/girl-tablet.svg', alt='Girl')