.main-fourth_fifth_blocks_mobile_slider
    div
        // Main fourth block top left
        include mainfourthblocktopleft
    div
        // Main fourth block hidden
        include mainfourthblockhidden
    div
        // Main fifth block top left
        include mainfifthblocktopleft
    div
        // Main fifth block hidden shown right
        include mainfifthblockhiddenshownright