.main-sixth_blocks_tablet.main-blocks_common_tablet
    .main-sixth_common_block_tablet.main-sixth_title_tablet
        h1 Новости
        a(href='#') Архив новостей
    .main-sixth_common_block_tablet.main-sixth_block_tablet
        .main-sixth_block_tablet
            p 26 июня 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект
        .main-sixth_block_tablet
            p 25 июня 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект
        .main-sixth_block_tablet
            p 26 апреля 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект