.main-block_hidden_shown.main-fifth__blocks.main-blocks__common
    .main-fifth_common_block
        .main-fifth__block.main-fifth_block_top_right
            .main-fifth_inner_block.main-fifth_inner_block_top_right
                h1
                    | Бесконтактная карта
                    br
                    | MasterCard
                h2
                    | Вы можете быстрее произвести оплату на АЗС,
                    br
                    | парковке, в кафе или в магазине одним касанием!
            .main-fifth_inner_block_bottom_right
                .main-fifth_block_right_image
                    img(src='assets/img/pictures/rock.svg', alt='Rock')