doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Private Banking
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        // Header
        include ../modules/header/headerinner/header
        // Banner
        include ../modules/banner/banner
        // Main
        include ../modules/main/main
        // Footer
        include ../modules/footer/footerinner/footer