.dropdown-list.dropdown-list__left
	.dropdown-list__blocks
		.dropdown-list__block
			a.dropdown-link(href='#') Платежный сервис
			a.dropdown-link(href='#') Монеты
			a.dropdown-link(href='#') Вклады
			a.dropdown-link(href='#') Банковские карты
		.dropdown-list__block
			a.dropdown-link(href='#') Кредитование физических лиц
			a.dropdown-link(href='#') Операции с наличной и иностранной валютой
			a.dropdown-link(href='#') Тарифы
			a.dropdown-link(href='#') Текущие счета
		.dropdown-list_block_last
			.dropdown-list_inner_block_top
				.dropdown-block__left
					.dropdown-block_left_image
						img(src='assets/img/pictures/top-one.svg', alt='Top One')
			.dropdown-list_inner_block_bottom
				.dropdown-block__text Интернет-банк для частных лиц
				a.button-common.dropdown-block__button(href='#') Войти в личный кабинет
	.dropdown-list__close