.dropdown-list.dropdown-list__top
	.dropdown-list__blocks
		.dropdown-list__block
			a.dropdown-link(href='#') Для юридических лиц
			a.dropdown-link(href='#') Резервный канал
		.dropdown-list__block
			a.dropdown-link(href='#') Для частных клиентов
			a.dropdown-link(href='#') Личный кабинет инвестора
		.dropdown-list__block
			a.dropdown-link(href='#') Перевод с карты на карту
			a.dropdown-link(href='#') Samsung Pay
	.dropdown-list__close