.dropdown-list.dropdown-list__middle
	.dropdown-list__blocks
		.dropdown-list__block
			a.dropdown-link(href='#') Интернет-банк
			a.dropdown-link(href='#') Расчетно-кассовое обслуживание
			a.dropdown-link(href='#') Как стать клиентом
			a.dropdown-link(href='#') Кредитные сделки
			a.dropdown-link(href='#') Тарифы
			a.dropdown-link(href='#') Валютный контроль
			a.dropdown-link(href='#') Управление проектного и структурного финансирования
		.dropdown-list__block
			a.dropdown-link(href='#') Корпоративное финансирование
			a.dropdown-link(href='#') Организация операционно-кассового подразделения
			a.dropdown-link(href='#') Войти в интернет-банк для юридических лиц
			a.dropdown-link(href='#') Векселя
			a.dropdown-link(href='#') Торговое финансирование и экспортно-импортные операции
			a.dropdown-link(href='#') Инкассация
		.dropdown-list_block_last
			.dropdown-block__middle
				.dropdown-block_middle_image
					img(src='assets/img/pictures/top-two.svg', alt='Top Two')
			.dropdown-block__text Интернет-банк для юридических лиц
			a.button-common.dropdown-block__button(href='#') Войти в личный кабинет
	.dropdown-list__close