.wrapper
	.header-menu__top
		.header-menu__block
			.icon-logo
			a.header-top__link.header-top_link_addition.header-top_link_color.header-top_link_main(href='#') Private banking
			a.header-top__link.header-top_link_addition.header-top_link_color.header-top_link_main.header-top_link_bank(href='#') О банке
		.header-menu__block.header-menu_block_addition
			a.header-top__link.header-top_link_addition.header-top_link_color.header-top_link_remain(href='#') Офисы и банкоматы
			a.header-top__link.header-top_link_addition.header-top_link_color.header-top_link_remain(href='#') EN
			a.header-top_link_look.header-top_link_color(href='#')
			a.header-top_link_phone.header-top_link_addition.header-top_link_exception.header-top_link_main(href='#') +7 495 956 86 26
			a.header-top__link.header-top_link_addition.header-bottom_link_search.header-top_link_search_settings(href='#')
			a.header-top__link.header-top_link_addition.header-top_link_dropdown(href='#')