.wrapper
	.header-menu__bottom
		.header-menu_bottom_left
			a.header-bottom__link.header-bottom_link_private(href='#') Частным клиентам
			a.header-bottom__link.header-bottom_link_corporative(href='#') Корпоративным клиентам
			a.header-bottom__link.header-bottom_link_services(href='#') Услуги на рынке ценных бумаг
		.header-menu_bottom_right
			a.header-bottom_link_search(href='#')