.main-third__blocks.main-blocks__common
    .main-third_common_block
        // Main third block left
        include mainthirdblockleft
        // Main third block right
        include mainthirdblockright
        // Main third block right tablet
        include mainthirdblockrighttablet
        // Main third block right mobile outer
        include mainthirdblockrightmobileouter