.main-third_block_left
    h1 Перевод с карты на карту
    h2
        | Быстрый и удобный способ перевести деньги. 
        br
        | Узнайте о 
        a(href='#') лимитах и комиссиях
    // Main third block right mobile
    include mainthirdblockrightmobile
    a.button-common.main-button(href='#') Подать заявку