.main-first_slider_mobile
    div
        .main-first__block
            // Main first block left mobile
            include mainfirstblockleftmobile
    div
        .main-first__block
            // Main first block right mobile
            include mainfirstblockrightmobile