.main-first_block_top_outer
    .main-first_block_top.main-first_block_first_color
        .main-first_block_top_settings
            .main-first_block_top_left
                p Брокерское обслуживание
                h1 Персональное брокерское обслуживание в банке
                h2
                    | Бесплатный ввод и вывод денежных средств (российские рубли в наличной и безналичной форме)
            .main-first_block_top_common
                .main-first_block_image.main-first_block_image_left
                    img(src='assets/img/pictures/top-four.svg', alt='Top Four')
    .main-block__bottom
        a.main-left__block(href='#') Подать заявку
        a.main-right__block(href='#')
        a.main-right_block_mobile(href='#')