button.collapsible.collapses(type='button') Услуги на РЦБ
.content.content-footers
    p Доступ на валютный рынок
    p Брокерское обслуживание
    p Открыть брокерский счет
    p Еврооблигации
    p Торговля на ММВБ
    p Облигации
    p QUIK трейдинг
    p Transaq