section.footer-list__mobile
    // Footer menu mobile
    nav
        ul.menu.footer-menu
            li
                // Footer menu mobile list first
                include footermenumobilelistfirst
            li
                // Footer menu mobile list second
                include footermenumobilelistsecond
            li
                // Footer menu mobile list third
                include footermenumobilelistthird
            li
                // Footer menu mobile list fourth
                include footermenumobilelistfourth