button.collapsible.collapses(type='button') О банке
.content.content-footers
    p Реквизиты
    p Раскрытие информации
    p Процентные ставки по вкладам физ. лиц
    p Список лиц, под контролем либо значительным влиянием которых находится Банк