// Font family
$primaryFont: 'Graphik Cy';
$primaryFontBold: 'Graphik Cy Bold';
$secondaryFont: 'Graphik LC Web';
$secondaryFontBold: 'Graphik LC Web Bold';
// Primary font size
$primaryFontSizeLarge: 70px;
$primaryFontSizeMedium: 45px;
$primaryFontSizeSmall: 20px;
// Primary font style
$primaryFontStyle: normal;
// Primary font weight
$primaryFontWeight: bold;
// Primary line height
$primaryLineHeightLarge: 80px;
$primaryLineHeightMedium: 50px;
$primaryLineHeightSmall: 25px;
// Primary letter spacing
$primaryLetterSpacing: 0.05em;
// Primary font color
$primaryFontColorBlack: #000000;
$primaryFontColorBlackRussian: #1E1F28;
$primaryFontColorBlue: #003DB1;
$primaryFontColorGray: #8890A1;
$primaryFontColorOrange: #FF5D39;
$primaryFontColorPaleBlue: #CFDFED;
$primaryFontColorWhite: #FFFFFF;
// Secondary font size
$secondaryFontSizeLarge: 35px;
$secondaryFontSizeMedium: 25px;
$secondaryFontSizeSmall: 18px;
// Secondary font weight
$secondaryFontWeight: normal;
// Secondary line height
$secondaryLineHeightLarge: 30px;
$secondaryLineHeightMedium: 20px;
$secondaryLineHeightSmall: 18px;
// Secondary font color
$secondaryFontColorEchoBlue: #ACACCD;
$secondaryFontColorQuicksand: #BEA08B;
$secondaryFontColorHawkesBlue: #CEDEEC;
$secondaryFontColorOysterBay: #CFE6E5;
$secondaryFontColorTravertine: #E6E4CF;
// Additional font size
$additionalFontSizeLarge: 14px;
$additionalFontSizeMedium: 12px;
$additionalFontSizeSmall: 9px;
// Additional line height
$additionalLineHeightLarge: 40px;
$additionalLineHeightMedium: 14px;
$additionalLineHeightSmallFirst: 13px;
$additionalLineHeightSmallSecond: 12px;
$additionalLineHeightLast: 9px;
// Additional font color
$additionalFontColorSolitudeFirst: #F3F4F6;
$additionalFontColorSolitudeSecond: #F4F4F6;
$additionalFontColorGrayFirst: rgba(0, 0, 0, 0.2);
$additionalFontColorGraySecond: rgba(31, 32, 65, 0.25);
$additionalFontColorGrayThird: rgba(136, 144, 161, 0.1);
$additionalFontColorGrayFourth: rgba(136, 144, 161, 0.2);
$additionalFontColorGrayFifth: rgba(136, 144, 161, 0.5);
$additionalFontColorGraySixth: rgba(255, 255, 255, 0.5);
// Last font size
$lastFontSizeLarge: 34px;
$lastFontSizeMedium: 27px;
$lastFontSizeSmall: 19px;
$lastFontSizeLast: 11px;
$lastFontSizeLastAdditional: 10px;
// Last line height
$lastLineHeightLarge: 15px;