/* Main sixth blocks mobile */

.main-sixth_blocks_mobile {
    display: none;
}

.main-sixth_block_mobile_right {
    display: none;
    background: url("/assets/img/icons/arrow-right__blue.svg") no-repeat;
    max-width: 10.5px;
    width: 100%;
    height: 13.5px;
}