.main-sixth__blocks.main-blocks__common
    .main-sixth_common_block.main-sixth__title
        h1 Новости
        a(href='#') Архив новостей
    .main-sixth_common_block
        .main-sixth__block
            p 26 июня 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект
        .main-sixth__block
            p 25 июня 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект
        .main-sixth__block
            p 26 апреля 2019 года
            a(href='#')
                | Предварительные выводы неутешительны: 
                br
                | курс на социально-ориентированный 
                br
                | национальный проект