section.banner
    .wrapper
        .banner-blocks
            // Banner block left
            include bannerblockleft
            // Banner block right
            include bannerblockright
            // Banner block right mobile
            include bannerblockrightmobile