.banner-block__left
	.banner-slider
		div
			h1 Центр для успешных инвестиций
			h2
				| Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
			a.button-common.banner-button.banner-button_additional_settings(href='#') Подать заявку
		div
			h1 Центр для успешных инвестиций
			h2
				| Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
			a.button-common.banner-button.banner-button_additional_settings(href='#') Подать заявку
		div
			h1 Центр для успешных инвестиций
			h2
				| Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
			a.button-common.banner-button.banner-button_additional_settings(href='#') Подать заявку
