section.main
    .wrapper
        .main-title
            h1 Услуги на рынке ценных бумаг
        // Main first blocks
        include mainfirstblocks/common/mainfirstblocks
        // Main first blocks tablet slider
        include mainfirstblocks/tablet/mainfirstblockstablet
        // Main first blocks mobile slider
        include mainfirstblocks/mobile/mainfirstblocksmobile
        // Main second blocks
        include mainsecondblocks/common/mainsecondblocks
        // Main second blocks tablet tabs
        include mainsecondblocks/tablet/mainsecondblockstablet
        // Main second blocks mobile tabs
        include mainsecondblocks/mobile/mainsecondblocksmobile
        // Main third blocks
        include mainthirdblocks/common/mainthirdblocks
        // Main fourth blocks
        include mainfourthblocks/common/mainfourthblocks
        // Main fifth blocks
        include mainfifthblocks/common/mainfifthblocks
        // Main hidden-shown blocks
        include mainhiddenshownblocks/common/mainhiddenshownblocks
        // Main fourth-fifth blocks mobile slider
        include mainfourthfifthblocksmobileslider/common/mainfourthfifthblocksmobileslider
        // Main sixth blocks
        include mainsixthblocks/common/mainsixthblocks
        // Main sixth blocks tablet
        include mainsixthblocks/tablet/mainsixthblockstablet
        // Main sixth blocks mobile
        include mainsixthblocks/mobile/mainsixthblocksmobile