.dropdown-list__tablet.dropdown-list_left_tablet
	.dropdown-list__blocks
		.dropdown-list__block
			a.dropdown-link(href='#') Платежный сервис
			a.dropdown-link(href='#') Монеты
			a.dropdown-link(href='#') Вклады
			a.dropdown-link(href='#') Банковские карты
		.dropdown-list__block
			a.dropdown-link(href='#') Кредитование физических лиц
			a.dropdown-link(href='#') Операции с наличной и иностранной валютой
			a.dropdown-link(href='#') Тарифы
			a.dropdown-link(href='#') Текущие счета
	.dropdown-list__blocks
		.dropdown-list__block
			.dropdown-block__left
				.dropdown-block_left_image
					img(src='assets/img/pictures/top-one.svg', alt='Top One')
		.dropdown-list__block
			.dropdown-block__text Интернет-банк для частных лиц
			a.button-common.dropdown-block__button(href='#') Войти в личный кабинет
	.wrapper
		.borderline
		nav
			.menu-tablet
				button.collapsible-tablet(type='button') О банке
				.content-tablet
					.dropdown-list_blocks_tablet
						.dropdown-list__block
							a.dropdown-link(href='#') Для юридических лиц
							a.dropdown-link(href='#') Резервный канал
							a.dropdown-link(href='#') Для частных клиентов
						.dropdown-list__block
							a.dropdown-link(href='#') Личный кабинет инвестора
							a.dropdown-link(href='#') Перевод с карты на карту
							a.dropdown-link(href='#') Samsung Pay
		.borderline
		.dropdown-menu_bottom_tablet
			p.dropdown-link_left_tablet Private banking
			p.dropdown-link_right_tablet +7 495 956 86 26