.dropdown-list__tablet.dropdown-list_right_tablet
	.dropdown-list__blocks
		.dropdown-list__block
			a.dropdown-link(href='#') Брокерское обслуживание
			a.dropdown-link(href='#') Документы
			a.dropdown-link(href='#') Прямой доступ на валютный рынок
			a.dropdown-link(href='#') Облигации
			a.dropdown-link(href='#') Еврооблигации
			a.dropdown-link(href='#') Тарифы
			a.dropdown-link(href='#') Интернет-трейдинг QUIK
		.dropdown-list__block
			a.dropdown-link(href='#') Интернет-трейдинг TRANSAQ
			a.dropdown-link(href='#') Войти в личный кабинет
			a.dropdown-link(href='#') Депозитарные услуги
			a.dropdown-link(href='#') Открытый счет
			a.dropdown-link(href='#') Рынки
			a.dropdown-link(href='#') Непокрытые сделки
			a.dropdown-link(href='#') Контакты
	.dropdown-list__blocks
		.dropdown-list__block
			.dropdown-block__right
				.dropdown-block_right_image
					img(src='assets/img/pictures/top-three.svg', alt='Top Three')
		.dropdown-list__block.dropdown-list_block_right_button
			a.button-common.dropdown-block__button(href='#') Войти в личный кабинет
	.wrapper
		.borderline
		nav
			.menu-tablet
				button.collapsible-tablet(type='button') О банке
				.content-tablet
					.dropdown-list_blocks_tablet
						.dropdown-list__block
							a.dropdown-link(href='#') Для юридических лиц
							a.dropdown-link(href='#') Резервный канал
							a.dropdown-link(href='#') Для частных клиентов
						.dropdown-list__block
							a.dropdown-link(href='#') Личный кабинет инвестора
							a.dropdown-link(href='#') Перевод с карты на карту
							a.dropdown-link(href='#') Samsung Pay
		.borderline
		.dropdown-menu_bottom_tablet
			p.dropdown-link_left_tablet Private banking
			p.dropdown-link_right_tablet +7 495 956 86 26