.dropdown-list__tablet.dropdown-list_middle_tablet
	.dropdown-list__blocks
		.dropdown-list__block
			a.dropdown-link(href='#') Интернет-банк
			a.dropdown-link(href='#') Расчетно-кассовое обслуживание
			a.dropdown-link(href='#') Как стать клиентом
			a.dropdown-link(href='#') Кредитные сделки
			a.dropdown-link(href='#') Тарифы
			a.dropdown-link(href='#') Валютный контроль
			a.dropdown-link(href='#') Управление проектного и структурного финансирования
		.dropdown-list__block
			a.dropdown-link(href='#') Корпоративное финансирование
			a.dropdown-link(href='#') Организация операционно-кассового подразделения
			a.dropdown-link(href='#') Войти в интернет-банк для юридических лиц
			a.dropdown-link(href='#') Векселя
			a.dropdown-link(href='#') Торговое финансирование и экспортно-импортные операции
			a.dropdown-link(href='#') Инкассация
	.dropdown-list__blocks
		.dropdown-list__block
			.dropdown-block__middle
				.dropdown-block_middle_image
					img(src='assets/img/pictures/top-two.svg', alt='Top Two')
		.dropdown-list__block
			.dropdown-block__text Интернет-банк для юридических лиц
			a.button-common.dropdown-block__button(href='#') Войти в личный кабинет
	.wrapper
		.borderline
		nav
			.menu-tablet
				button.collapsible-tablet(type='button') О банке
				.content-tablet
					.dropdown-list_blocks_tablet
						.dropdown-list__block
							a.dropdown-link(href='#') Для юридических лиц
							a.dropdown-link(href='#') Резервный канал
							a.dropdown-link(href='#') Для частных клиентов
						.dropdown-list__block
							a.dropdown-link(href='#') Личный кабинет инвестора
							a.dropdown-link(href='#') Перевод с карты на карту
							a.dropdown-link(href='#') Samsung Pay
		.borderline
		.dropdown-menu_bottom_tablet
			p.dropdown-link_left_tablet Private banking
			p.dropdown-link_right_tablet +7 495 956 86 26