.wrapper
	.header-menu_top_tablet
		.header-menu_block_tablet
			.icon-logo
		.header-menu_block_tablet
			a.header-top__link.header-top_link_addition_tablet.header-top_link_color.header-top_link_remain(href='#') Офисы и банкоматы
			a.header-top__link.header-top_link_addition_tablet.header-top_link_color.header-top_link_remain(href='#') EN
			a.header-top_link_look(href='#')
			a.header-top__link.header-top_link_addition_tablet.header-bottom_link_search.header-top_link_search_settings(href='#')
			a.header-top__link.header-top_link_addition_tablet.header-top_link_dropdown(href='#')