header.header-tablet
    // Header menu top tablet
    include headermenutoptablet
    .borderline
    // Header menu bottom
    include headermenubottomtablet
    // Dropdown list left tablet
    include dropdownlistlefttablet
    // Dropdown list middle tablet
    include dropdownlistmiddletablet
    // Dropdown list right tablet
    include dropdownlistrighttablet