.main-second__blocks.main-blocks__common
    .main-second_common_block
        .main-second__title.main-second_icon-left
            | Валюта
            p 18.07.2019
        .main-second__block
            // Main second block left top
            include mainsecondblocklefttop
            // Main second block left bottom
            include mainsecondblockleftbottom
    .main-second_common_block
        .main-second__title.main-second_icon-right Монеты из драгоценных металлов
        .main-second__block
            // Main second block right top
            include mainsecondblockrighttop
            // Main second block right bottom
            include mainsecondblockrightbottom