.main-second_block_top
    .main-second_common_row.main-second_right_row
        p Вид
        p.main-second_item_padding Номинал
        p Покупка
        p Продажа
    .main-second__borderline
    ul.main-second_common_row.main-second_right_row.main-second_padding_row
        li.main-second_right_coins.main-second_coin_top
            img(src='assets/img/icons/coin-gold.svg', alt='Coin Gold')
        ul.main-second_right_inner
            li Георгий Победоносец (ММД)
            ul.main-second_right_block
                li.main-second__numbers 50
                li.main-second__numbers.main-second_number_padding 21 500
                li.main-second__numbers 22 456
    ul.main-second_common_row.main-second_right_row.main-second_padding_row
        li.main-second_right_coins.main-second_coin_bottom
            img(src='assets/img/icons/coin-silver.svg', alt='Coin Silver')
        ul.main-second_right_inner.main-second_inner_text
            li Георгий Победоносец (серебро)
            ul.main-second_right_block
                li.main-second__numbers 100
                li.main-second__numbers.main-second_number_padding 23 565
                li.main-second__numbers 23 890