/* Fonts */

@font-face {
    font-family: "Graphik Cy";
    src: url("/assets/fonts/GraphikCy/GraphikCyRegularRegular.eot");
    src: url("/assets/fonts/GraphikCy/GraphikCyRegularRegular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikCy/GraphikCyRegularRegular.woff2") format("woff2"), url("/assets/fonts/GraphikCy/GraphikCyRegularRegular.woff") format("woff"), url("/assets/fonts/GraphikCy/GraphikCyRegularRegular.ttf") format("truetype"), url("/assets/fonts/GraphikCy/GraphikCyRegularRegular.svg#GraphikCyRegularRegular") format("svg");
}

@font-face {
    font-family: "Graphik LC Web";
    src: url("/assets/fonts/GraphikLCWeb/GraphikLCWebRegular.eot");
    src: url("/assets/fonts/GraphikLCWeb/GraphikLCWebRegular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikLCWeb/GraphikLCWebRegular.woff2") format("woff2"), url("/assets/fonts/GraphikLCWeb/GraphikLCWebRegular.woff") format("woff"), url("/assets/fonts/GraphikLCWeb/GraphikLCWebRegular.ttf") format("truetype"), url("/assets/fonts/GraphikLCWeb/GraphikLCWebRegular.svg#GraphikLCWebRegular") format("svg");
}

@font-face {
    font-family: "Graphik Cy Bold";
    src: url("/assets/fonts/GraphikCyBold/GraphikCyBoldRegular.eot");
    src: url("/assets/fonts/GraphikCyBold/GraphikCyBoldRegular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikCyBold/GraphikCyBoldRegular.woff2") format("woff2"), url("/assets/fonts/GraphikCyBold/GraphikCyBoldRegular.woff") format("woff"), url("/assets/fonts/GraphikCyBold/GraphikCyBoldRegular.ttf") format("truetype"), url("/assets/fonts/GraphikCyBold/GraphikCyBoldRegular.svg#GraphikCyBoldRegular") format("svg");
}

@font-face {
    font-family: "Graphik LC Web Bold";
    src: url("/assets/fonts/GraphikLCWebBold/GraphikLCWebBoldRegular.eot");
    src: url("/assets/fonts/GraphikLCWebBold/GraphikLCWebBoldRegular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikLCWebBold/GraphikLCWebBoldRegular.woff2") format("woff2"), url("/assets/fonts/GraphikLCWebBold/GraphikLCWebBoldRegular.woff") format("woff"), url("/assets/fonts/GraphikLCWebBold/GraphikLCWebBoldRegular.ttf") format("truetype"), url("/assets/fonts/GraphikLCWebBold/GraphikLCWebBoldRegular.svg#GraphikLCWebBoldRegular") format("svg");
}