.main-fifth__blocks.main-blocks__common
    .main-fifth_common_block
        // Main fifth block hidden shown left
        include mainfifthblockhiddenshownleft
        // Main fifth block top left
        include mainfifthblocktopleft
        // Main fifth block top right
        include mainfifthblocktopright