.main-fifth_block_hidden_shown_left.main-fifth_block_common.main-fourth__block.main-fourth_block_top_right
    .main-fourth_inner_block.main-fourth_inner_block_top_right
        h1 Защитные признаки банкнот Банка России
        h2
            | Признаки подлинности, контролируемые
            br
            | с использованием х8-х10 лупы
    .main-fourth_inner_block_bottom_right
        .main-fourth_block_right_image
            img(src='assets/img/pictures/column.svg', alt='Column')