footer.footer
    .wrapper
        .footer-blocks
            .footer-block__common
                // Footer hidden first
                include footerhiddenfirst
            .footer-block__common
                // Footer hidden second
                include footerhiddensecond