.footer-common__block.footer-common_block_hidden_fourth
    p Частным клиентам
    .footer-block
        a(href='#') Банковские карты
        a(href='#') Вклады
        a(href='#') Тарифы
        a(href='#') Защитные признаки банкнот Банка России
.footer-common__block.footer-common_block_hidden_fifth
    p Корпоративным клиентам
    .footer-block
        a(href='#') Как стать клиентом
        a(href='#') Кредитование
        a(href='#') Интернет-банк
.footer-common__block.footer-common_block_hidden_sixth
    p Услуги на РЦБ
    .footer-block
        a(href='#') Доступ на валютный рынок
        a(href='#') Брокерское обслуживание
        a(href='#') Открыть брокерский счет
        a(href='#') Еврооблигации
        a(href='#') Торговля на ММВБ
        a(href='#') Облигации
        a(href='#') QUIK трейдинг
        a(href='#') Transaq