.footer-common__block.footer-common_block_hidden_first
    p.footer-title__first Раскрытие информации
    p.footer-title__second О банке
    .footer-block
        a(href='#') Реквизиты
        a(href='#') Раскрытие информации
        a(href='#') Процентные ставки по вкладам физ. лиц
        a(href='#') Список лиц, под контролем либо значительным влиянием которых находится Банк
.footer-common__block.footer-common_block_hidden_second
    p Корпоративным клиентам
    .footer-block
        a(href='#') Как стать клиентом
        a(href='#') Кредитование
        a(href='#') Интернет-банк
.footer-common__block.footer-common_block_hidden_third
    p Частным клиентам
    .footer-block
        a(href='#') Банковские карты
        a(href='#') Вклады
        a(href='#') Тарифы
        a(href='#') Защитные признаки банкнот Банка России