.main-first_slider_tablet
    div
        .main-first__block
            // Main first block left tablet
            include mainfirstblocklefttablet
    div
        .main-first__block
            // Main first block right tablet
            include mainfirstblockrighttablet