/* Dropdown list middle */

.dropdown-block__middle {
    margin-top: 50px;
    width: 280px;
    height: 141px;
    background: $secondaryFontColorOysterBay;
}

.dropdown-block_middle_image {
    position: absolute;
    width: 280px;
    height: 191px;
    top: 24px;
}