.main-second__tab.main-second_tabs_block
    .main-second_tabs_button
        button#defaultOpenMobile.main-second_tablinks_mobile(onclick="showBlockMobile(event, 'LeftMobile')")
            .main-second__title.main-second_icon-left
                | Валюта
                p 18.07.2019
    .main-second_tabs_button
        button.main-second_tablinks_mobile(onclick="showBlockMobile(event, 'RightMobile')")
            .main-second__title.main-second_icon-right Монеты