.main-second_blocks_mobile_tabs
    // Main second tab mobile
    include mainsecondmobile
    // Main second tab mobile left
    include mainsecondmobileleft
    // Main second tab mobile right
    include mainsecondmobiletright