.main-fourth__blocks.main-blocks__common
    .main-fourth_common_block
        // Main fourth block left
        include mainfourthblockleft
        // Main fourth block right
        include mainfourthblockright