.main-fourth__block.main-fourth_block_top_left
    .main-fourth_inner_block.main-fourth_inner_block_top_left
        h1
            | Прямой доступ
            br
            | на валютный рынок
        h2
            | Зарабатывайте на колебаниях курсов
            br
            | мировых валют
    .main-fourth_inner_block_bottom_left
        .main-fourth_block_left_image
            img(src='assets/img/pictures/phone.svg', alt='Phone')