.header-menu_mobile_list
	.header-menu_mobile_left
		a.icon-logo(href='#')
	.header-menu_mobile_right
		.icon-dropdown
		a.header-top__link.header-top_link_addition.header-bottom_link_search.header-top_link_search_settings(href='#')