button.collapsible(type='button') Частным клиентам
.content
	p Платежный сервис
	p Монеты
	p Вклады
	p Банковские карты
	p Кредитование физических лиц
	p Операции с наличной иностранной валютой
	p Тарифы
	p Текущие счета
	.dropdown-list_block_last
		.dropdown-list_inner_block_top
			.dropdown-block__left
				.dropdown-block_left_image
					img(src='assets/img/pictures/top-one.svg', alt='Top One')
		.dropdown-list_inner_block_bottom
			.dropdown-block__text Интернет-банк для частных лиц
			a.dropdown-block__button.button-common(href='#') Подать заявку