button.collapsible(type='button') Услуги
.content
	p Брокерское обслуживание
	p Документы
	p Прямой доступ на валютный рынок
	p Облигации
	p Еврооблигации
	p Тарифы
	p Интернет-трейдинг QUIK
	p Интернет-трейдинг TRANSAQ
	p Войти в личный кабинет
	p Депозитарные услуги
	p Открытый счет
	p Рынки
	p Непокрытые сделки
	p Контакты
	.dropdown-list_block_last
		.dropdown-list_inner_block_top
			.dropdown-block__right
				.dropdown-block_right_image
					img(src='assets/img/pictures/top-three.svg', alt='Top Three')
		.dropdown-list_inner_block_bottom
			a.dropdown-block__button.button-common(href='#') Войти в личный кабинет