section#header-mobile.header-menu__mobile
    // Header menu mobile list
    include headermenumobilelist
    // Menu
    nav
        ul.menu
            li
                // Header menu mobile list first
                include headermenumobilelistfirst
            li
                // Header menu mobile list second
                include headermenumobilelistsecond
            li
                // Header menu mobile list third
                include headermenumobilelistthird
            li
                // Header menu mobile list fourth
                include headermenumobilelistfourth
            li
                // Header menu mobile list fifth
                include headermenumobilelistfifth
            li
                // Header menu mobile list sixth
                include headermenumobilelistsixth
            li
                // Header menu mobile list seventh
                include headermenumobilelistseventh