button.collapsible(type='button') Корпоративным клиентам
.content
	p Интернет-банк
	p Расчетно-кассовое обслуживание
	p Как стать клиентом
	p Кредитные сделки
	p Тарифы
	p Валютный контроль
	p Управление проектного и структурного финансирования
	p Корпоративное финансирование
	p Организация операционно-кассового подразделения
	p Войти в интернет-банк для юридических лиц
	p Векселя
	p Торговое финансирование и экспортно-импортные операции
	p Инкассация
	.dropdown-list_block_last
		.dropdown-list_inner_block_top
			.dropdown-block__middle
				.dropdown-block_middle_image
					img(src='assets/img/pictures/top-two.svg', alt='Top Two')
		.dropdown-list_inner_block_bottom
			.dropdown-block__text Интернет-банк для юридических лиц
			a.dropdown-block__button.button-common(href='#') Войти в личный кабинет